ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }












h2{
    font-family: Arial; 
    font-size: larger;
    color: rgb(255, 0, 0);
}
h2::before{
    content: " ➜";
    color: black;
    margin: 0px 20px;
}
                        /*h2 style*/
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: bold;

}
h1::before{
    content: " ➜";
    color: rgb(255, 0, 0);
    margin: 50px ;
}
                        /*h1 style*/
a{
    font-size: 25px;
}
                        /*a style */
body{
    background-color: white;
}
tr{
    font-size: 40px;
    
}
th{
    color: blue;
}
footer{
    background-color:aquamarine;
    padding : 20px;
}
p{
    margin : 0px 600px ;
    
}
button{
    width: 100px;
    height: 50px;
    background-color: rgb(255, 98, 0);
    color: white;
    border: none;
}

button:focus{
    width: 100px;
    height: 50px;
    background-color: rgb(19, 49, 49);
    color: white;
    border: none;
}